body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #eee7e1;
    color: #6e171a;
    margin-left: 1vw;
    margin-right: 1vw;
}

@media (min-width: 1200px) {
    body {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color: #eee7e1;
        color: #6e171a;
        margin-left: 10vw;
        margin-right: 10vw;
    }
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #eee7e1;
    color: #6e171a;
    margin-left: 10vw;
    margin-right: 10vw;
}

/* Navigational elements */
.navbar {
    border-bottom: 1px solid #6e171a;
    margin-bottom: 1cm;
    display: grid;
    grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr);
}

.categories {
    text-align: center;
}


@media (min-width: 800px) {
    .navbar {
        border-bottom: 1px solid #6e171a;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1cm;
    }

    .categories {
        text-align: center;
        justify-self: center;
        margin: auto;
        /* width: 700px; */
    }
}

.title {
    margin: auto;
}

.searchbar {
    margin: auto;
}

.topmenu {
    color: #6e171a;
    text-decoration: none;
    outline: none;
    text-align: center;
    line-height: 1.75rem;
    padding: .5rem;
    border-radius: 5px;
}

.topmenu:link,
.topmenu:visited,
.topmenu:focus {
    background: darkred;
    color: white;
}

.topmenu:hover {
    background: red;
}

.topmenu:active {
    background: white;
    color: #6e171a;
}

.homebutton {
    text-decoration: none;
    outline: none;
    color: #6e171a;
}

/* Content */

article {
    background-color: #d5bfa3;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
}

.index3 {
    display: grid;
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 5vw;
    margin-right: 5vw;
}

@media (min-width: 800px) {
    .index3 {
        display: grid;
        grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr);
        margin-left: 15vw;
        margin-right: 15vw;
    }
}

.index2 {
    display: grid;
    grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr);
    margin-left: 8vw;
    margin-right: 8vw;
}

.search_input {
    line-height: 1.25rem;
    padding: .5rem;
    border-radius: 5px;
    color: #6e171a;
}

/* Content pages */

.content {
    display: grid;
    grid-template-columns: minmax(100px, 1fr);
    margin-left: 3vw;
    margin-right: 3vw;
}

@media (min-width: 800px) {
    .content {
        display: grid;
        grid-template-columns: minmax(100px, 1fr);
        margin-left: 15vw;
        margin-right: 15vw;
    }
}

.main_header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #6e171a;
}

.sub_header {
    margin-top: 3rem;
    padding-top: 1rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid #6e171a;
    margin-bottom: -.5rem;
}

.sub_sub_header {
    margin-top: 1rem;
    padding-top: 1rem;
    /* padding-bottom: 1rem; */
    margin-bottom: -.5rem;
    color: #6e171a;
    font-weight: bolder;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.h4 {
    font-weight: 300;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.race_traits {
    line-height: 1.3;
}

footer {
    text-align: center;
    font-weight: lighter;
    border-top: 1px solid #6e171a;
    margin-top: 5rem;
}

/* General text mark-up */
.center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.divider {
    border-top: 1px solid #6e171a;
    margin: 1rem;
}

/* Tables */

@media (max-width: 1000px) {
    table {
        table-layout: fixed;
        width: 200%;
        text-align: left;
        border-collapse: collapse;
        margin-top: 1rem;
    }
    
    thead th:nth-child(1) {
        width: 60%;
        text-align: center;
    }

    thead th:nth-child(2) {
        width: 100%;
    
    }

    .bigtable {
        table-layout: fixed;
        width: 200%;
        text-align: left;
        border-collapse: collapse;
        margin-top: 1rem;
    }
}

table {
    table-layout: fixed;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    margin-top: 1rem;
}

thead th:nth-child(1) {
    width: 30%;
    text-align: center;
}

thead th:nth-child(2) {
    width: 100%;

}

td:nth-child(1) {
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #d5bfa3;
}

.bigtable {
    table-layout: fixed;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    margin-top: 1rem;
    line-height: 1.5rem;
    padding: .5rem;
}

.thead-big th:nth-child(1) {
    width: 30%;
}

.thead-big th:nth-child(2) {
    width: 10%;
}

.thead-big th:nth-child(3) {
    width: 20%;
}